---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hello everyone</h1>
			<p>
				我是上海科技大学 (ShanghaiTech) 的一名研究生。目前的科研方向聚焦于 <strong>全栈 AI 工程</strong>、<strong>多智能体系统</strong> 以及 <strong>医学影像分析</strong>
			</p>
			<p>
			在这里，我记录了我的技术探索和兴趣，包括但不限于：
			<ul>
				<li><strong>Goplayer</strong>: 基于强化学习的围棋对弈系统。</li>
				<li><strong>umamusume-agent</strong>: 自动解析游戏角色性格，生成符合人设的对话，并通过音色克隆以角色原声实时语音交互。让虚拟角色真正“开口说话”。</li>
				<li><strong>CoppeliaSimAgent</strong>: Co-pilot for CoppeliaSim</li>
			</ul>
			</p>

		</main>
		<Footer />
	</body>
</html>
