---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hello everyone</h1>
			<p>
				我是上海科技大学 (ShanghaiTech) 的一名研究生。目前的科研方向聚焦于 <strong>全栈 AI 工程</strong>、<strong>多智能体系统</strong> 以及 <strong>医学影像分析</strong>
			</p>
			<p>
			在这里，我记录了我的技术探索和兴趣，包括但不限于：
				<ul>
					<li>
						<strong><a href="https://github.com/quantumxiaol/Goplayer" target="_blank" class="project-link">Goplayer</a></strong>: 
						基于强化学习的围棋对弈系统。
						[<a href="https://quantumxiaol.github.io/Goplayer/" target="_blank">Live Demo</a>]
					</li>
					<li>
						<strong><a href="https://github.com/quantumxiaol/umamusume-agent" target="_blank" class="project-link">umamusume-agent</a></strong>: 
						自动解析游戏角色性格，生成符合人设的对话，并通过音色克隆以角色原声实时语音交互。
						[<a href="https://www.bilibili.com/video/BV1vwrkBjEDe" target="_blank">Video Demo</a>]
						[<a href="https://quantumxiaol.github.io/umamusume-agent/" target="_blank">Live Demo(TTS off)</a>]
					</li>
					<li>
						<strong><a href="https://github.com/quantumxiaol/umamusume-agent-prompt" target="_blank" class="project-link">umamusume-agent-prompt</a></strong>: 
						自动解析游戏角色性格，生成角色卡给SillyTavern和上面的umamusume-agent使用。
					</li>
					<li>
						<strong><a href="https://github.com/quantumxiaol/CoppeliaSimAgent" target="_blank" class="project-link">CoppeliaSimAgent</a></strong>: 
						Co-pilot for CoppeliaSim，辅助程序员搭建仿真环境。
						[<a href="https://www.bilibili.com/video/BV1RgDSB4Eoa" target="_blank">Video Demo</a>]
					</li>
					<li>
						<strong><a href="https://github.com/GuanxingLu/ManiGaussian" target="_blank" class="project-link">ManiGaussian</a></strong>: 
						[ECCV 2024] ManiGaussian: Dynamic Gaussian Splatting for Multi-task Robotic Manipulation，提供 Python 环境高效的解析部署。
					</li>
					<li>
						<strong><a href="https://github.com/quantumxiaol/NEU_MultiModalBrainModel" target="_blank" class="project-link">MultiModalBrainModel</a></strong>: 
						本科毕业设计，基于功能脑网络多模版学习的精神疾病辅助诊断算法研究。
					</li>
					<li>
						<strong><a href="https://github.com/quantumxiaol/wikisearch" target="_blank" class="project-link">wikisearch</a></strong>: 
						通过zim文件，本地部署访问wikipedia。
					</li>

				</ul>
			</p>

		</main>
		<Footer />
	</body>
</html>
